# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\johan\Studium\7. Semester\Software-Qualitätssicherung\GitHub\SWQS\Aufgabenblatt3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
